{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="markdown {{ page.header.class }}">
    {{ page.content }}
  </div>

  <div class="blockanchors {{ page.header.class }}">
    {% for child in page.collection %}
      <a href="{{child.url}}">{{ child.title }} {% if child.header.subtitle %} - {{ child.header.subtitle }} {% endif %}</a> {{ child.summery }}
    {% endfor %}
  </div>

{% endblock %}
