{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="contentbox {{ page.header.class }}">
    {{ page.content }}

    <p>
    {% for child in page.collection %}
      <a href="{{child.url}}">{{ child.title }} {% if child.header.subtitle %} - {{ child.header.subtitle }} {% endif %}</a> {{ child.summery }} 
    {% endfor %}
    </p>

  </div>

{% endblock %}
